.panel {
    width: 100%;

    background-color: var(--bg-darker);

    padding: 25px;
}

.panel-heading {
    margin-bottom: 2rem;
}

.panel-body {
    overflow-x: auto;
}

.panel-heading .button {
    display: flex;
    justify-content: end;
}

.panel-heading .btn {
    background-color: var(--green);

    color: #fff;
}

.actions {
    text-align: center;
}

.btn-edit {
    background-color: var(--blue);
}

.btn-view {
    background-color: var(--yellow);
}

.btn-delete {
    background-color: var(--red);
}
