.card {
    background-color: var(--bg-darker);

    padding: 25px;

    margin-top: 20px;

    border-top: 5px solid var(--accent);
}

.alert-danger {
    background-color: var(--red);

    color: #fff;
}

.errors ul {
    list-style: none;

    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-submit {
    background-color: var(--accent);

    border-color: var(--accent);

    color: #fff;
}

.btn-submit:is(:hover, :focus, :focus-visible) {
    filter: opacity(0.8);

    transform: scale(1.1);
}

.form-control,
.form-control:is(:focus, :focus-visible) {
    background-color: var(--bg-color);

    color: var(--text);

    caret-color: var(--accent);
    border-color: var(--accent);
}
