.student-image {
    max-width: 80px;
}

.preview {
    display: block;

    max-width: 100%;
    width: auto;
    max-height: 250px;

    margin: auto;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}
